/* POPOVER */
.popover_content {
	text-align: center;
	padding-bottom: 20px;
	background-color: white;
	visibility: hidden;
	position: fixed;
	right: 100px;
	top: 100px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
	width: 625px;
	height: 580px;
	overflow: scroll;
	z-index: 10;
}

.popover_localita {
	color: #782b34;
	text-decoration: none;
	cursor: pointer;
}

.popover_localita:hover {
	color: #ff0000;
	text-decoration: underline;
}


.popover_persona {
	color: #782b34;
	text-decoration: none;
	cursor: pointer;
}

.popover_persona:hover {
	color: #ff0000;
	text-decoration: underline;
}

.popover_close {
	position: absolute;
	text-align: right;
	top: 10px;
	right: 15px;
	color: #782b34;
	text-decoration: none;
	cursor: pointer;
}

.popover_close:hover, .popover_back:hover {
	color: #ff0000;
	text-decoration: none;
}

.popover_back {
	position: absolute;
	text-align: left;
	top: 10px;
	left: 15px;
	color: #782b34;
	text-decoration: none;
	cursor: pointer;
}
